{% extends "companys/company_base.html" %}

{% block precompany %}
<div class="container">
  <h1>{{company.name}}</h1>
  <h2> {{ company.description_html|safe }}</h2>
	<br>	
  </div>
</div>
{% endblock %}

{% block company_content %}

<div class="col-md-8">
	{% if company.applications.count == 0 %}
	<h2>No posts in this company yet!</h2>

	{% else %}
		<!-- include is similar to extend just used to extend but in middle of html file -->
		{% for application in company.applications.all %}
			{% include "applications/_application.html" %}
		{% endfor %}

	{% endif %}
	<br>
</div>
{% endblock %}
