<div class="media">
	<h3 class="mr-5"><a href="{% url 'applications:for_user' username=application.user.username %}">@{{ application.user.username }}</a></h3>
	<!-- User name -->
	<div class="media-body">
		<strong>{{ application.user.username }}</strong>
		<h5>{{ application.email }}</h5>
		<h5>{{ application.message_html|safe }}</h5>
		<!-- To check the time at which application was posted -->
			<time class="time"><a href="{% url 'applications:single' username=application.user.username pk=application.pk %}">{{ application.created_at }}</a></time>
			{% if application.company %}
			<span class="company-name">in <a href="#">{{ application.company.name }}</a></span>
			{% endif %}
		</h5>

		<div class="media-footer">
			{% if user.is_authenticated and application.user == user and not hide_delete %}
				<br>
			{% endif %}
		</div>
	</div>
</div>
